.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  cursor: pointer;

  &--white {
    color: var(--clr-black);
    background-color: var(--clr-white);

    &:hover {
      color: var(--clr-black);
      background-color: var(--clr-primary-color-yellow);
    }
  }

  &--black {
    color: var(--clr-white);
    background-color: var(--clr-black);

    &:hover {
      color: var(--clr-black);
      background-color: var(--clr-primary-color-cyan);
    }
  }
}